.cards {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.loading {
  color: red;
  text-align: center;
}

img {
  width: 50px;
}